
#block {
    // z-index: -1;
    border: 1px solid black;
}
// Layout 2 columns by 3 lines
%two-by-three {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
}
// Layout 3 columns by 2 lines
%three-by-two {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
}

.I-0,
.I-180 {
    position: absolute;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
}

.I-90,
.I-270 {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
}

.J-0 {
    @extend %two-by-three;

    #tile-0 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    #tile-1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    #tile-2 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    #tile-3 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
}

.J-90 {
    @extend %three-by-two;

    #tile-0 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #tile-1 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #tile-2 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    #tile-3 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
}

.J-180 {
    @extend %two-by-three;

    #tile-0 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    #tile-1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #tile-2 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #tile-3 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
}

.J-270 {
    @extend %three-by-two;

    #tile-0 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #tile-1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    #tile-2 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    #tile-3 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
}

.L-0 {
    @extend %two-by-three;

    #tile-0 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    #tile-1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #tile-2 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #tile-3 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
}

.L-90 {
    @extend %three-by-two;

    #tile-0 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #tile-1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #tile-2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    #tile-3 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
}

.L-180 {
    @extend %two-by-three;

    #tile-0 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #tile-1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    #tile-2 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    #tile-3 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
}

.L-270 {
    @extend %three-by-two;

    #tile-0 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #tile-1 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    #tile-2 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    #tile-3 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
}

.T-0 {
    @extend %three-by-two;

    #tile-0 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #tile-1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    #tile-2 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    #tile-3 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
}

.T-90 {
    @extend %two-by-three;

    #tile-0 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #tile-1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    #tile-2 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    #tile-3 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
}

.T-180 {
    @extend %three-by-two;

    #tile-0 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #tile-1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    #tile-2 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    #tile-3 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
}

.T-270 {
    @extend %two-by-three;

    #tile-0 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #tile-1 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #tile-2 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    #tile-3 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
}

.S-0,
.S-180 {
    @extend %three-by-two;

    #tile-0 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #tile-1 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    #tile-2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    #tile-3 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
}

.S-90,
.S-270 {
    @extend %two-by-three;

    #tile-0 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #tile-1 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #tile-2 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    #tile-3 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
}

.Z-0,
.Z-180 {
    @extend %two-by-three;

    #tile-0 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #tile-1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    #tile-2 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    #tile-3 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
}

.Z-90,
.Z-270 {
    @extend %two-by-three;

    #tile-0 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #tile-1 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    #tile-2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    #tile-3 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
}

.O-0,
.O-90,
.O-180,
.O-270 {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
}