@import "Menu";

#controls {

    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
}

.controls-btn {
    /* formatting */
    width: 5vh;
    height: 5vh;
    font-weight: var(--app-font-weight);
    background: linear-gradient(150deg, lightyellow,  yellow);
    border: 2px solid gray;
    border-radius: var(--app-inner-border-radius);
}

.controls-line {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.controls-element {
    @extend .menu-element;
}

#controls-line-1 {
    grid-row: 1 / 2;
    align-self: flex-end;
}

#controls-line-2 {
    grid-row: 2 / 3;
}

#controls-line-3 {
    grid-row: 3 / 4;
    align-self: flex-start;
}